/* * {
  border: 1px solid red;
} */

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 25px;
}

.header {
	min-height: 80px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header h1 {
	margin-left: 10px;
	font-family: 'Dancing Script', cursive;
}

.header-logo {
	width: 80px;
}

.main-header {
	margin-left: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.login-image {
	margin-top: 20px;
	width: 550px;
}

.main-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-container {
	width: 40%;
}

.input {
	max-width: 280px;
	display: flex;
	align-items: center;
	padding: 8px;
	margin: 5px;
}

.label {
	margin: 5px;
	font-size: 12px;
}

.select {
	padding: 8px;
	margin: 5px;
	border-radius: 5px;
	border: none;
}

.checkbox-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.button {
	padding: 10px;
	background-color: #ff4f5a;
	cursor: pointer;
	color: white;
	font-weight: bold;
	border-radius: 15px;
	width: 100px;
	border: none;
}

.hidden {
	display: none;
}

.horizontal {
	display: flex;
	justify-content: center;
}

.input-container {
	position: relative;
}

.input-container i {
	position: absolute;
	right: 15px;
	top: 15px;
}

@media (max-width: 1000px) {
	.image-container {
		display: none;
	}

	.main-page {
		flex-direction: column;
	}

	.horizontal {
		flex-direction: column;
	}

	.form-container {
		width: 100vw;
	}

	.main-header {
		text-align: center;
	}

	.input {
		width: 80vw;
	}
}
